/*

PROJECT 1 - March 2020
Student name: Izidor Levy
Course Details: Fullstack Web Development 18

***/

/* Importing fonts from Google Fonts service */
@import url('https://fonts.googleapis.com/css?family=Kalam:700|Mansalva&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.header {
    /*font-family: 'Mansalva', cursive;*/
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 3rem;
}

#n-task {
  direction: ltr;
  text-align: left;
}

/* Showing the delete option for each note only when hovering the task */
.card-img-overlay:hover>.delete {
    visibility: visible !important;
    position: relative;
    top: 0.2rem;
    right: 0.2rem;
    cursor: pointer;
}

.delete {
    visibility: hidden;
}

.card {
    width: 13.75rem;
    background-color: rgba(254, 254, 254, 0);
}

/* New task FADE IN effect */
.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
  }
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }